In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as wb
assets=['PETR4.SA','ABEV3.SA','CIEL3.SA','ITUB4.SA']
portfolio=pd.DataFrame()

In [31]:
import datetime
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2019, 6, 15)

In [46]:
for t in assets:   
    portfolio[t]=wb.DataReader(t,data_source='yahoo',start='2012-1-1',end='2019-6-20')['Adj Close']

sec_ret=np.log(portfolio/portfolio.shift(1))

            PETR4.SA  ABEV3.SA  CIEL3.SA  ITUB4.SA
Date
2012-01-02       NaN       NaN       NaN       NaN
2012-01-03  0.030813 -0.011461  0.003716  0.024669
2012-01-04  0.007114 -0.023524  0.003497  0.001145
2012-01-05 -0.011587 -0.019992 -0.014478 -0.007468
2012-01-06  0.000896 -0.002530 -0.006270  0.007468
2012-01-09  0.013345 -0.001950  0.003975  0.006282
2012-01-10  0.011861 -0.005079  0.005414  0.013008
2012-01-11  0.000436  0.000000  0.010742  0.001406
2012-01-12  0.007393  0.004493 -0.002468  0.002240
2012-01-13 -0.001301  0.001366  0.006979 -0.006463
2012-01-16  0.025697  0.011819  0.009567  0.006739
2012-01-18  0.029990  0.017002  0.022438  0.027599
2012-01-19 -0.006587 -0.004749  0.018055  0.005698
2012-01-20  0.000413  0.002852  0.005436  0.004051
2012-01-23  0.036884 -0.013564 -0.004459 -0.019046
2012-01-24  0.010687  0.013184  0.000967 -0.018303
2012-01-26 -0.019078 -0.003426 -0.009749  0.015548
2012-01-27 -0.010083 -0.014389  0.001959 -0.005247
2012-01-30 -0.004062  0.000773  0.013600 -0.017040
2012-01-31  0.000000  0.004050  0.004821 -0.010760
2012-02-01  0.015348  0.013372  0.000956  0.017131
2012-02-02 -0.016977  0.001897  0.035083  0.000000
2012-02-03  0.003256  0.015039  0.018721  0.003917
2012-02-06  0.010107 -0.016367 -0.018537  0.006115
2012-02-07  0.029332 -0.010099  0.041374  0.009389
2012-02-08 -0.006663 -0.004419 -0.005171  0.021736
2012-02-09  0.002749  0.008045  0.000720 -0.006741
2012-02-10 -0.081678 -0.004585 -0.018024 -0.017750
2012-02-14 -0.012417  0.018997  0.013543  0.018564
2012-02-15 -0.004751  0.002811  0.011238 -0.015809
...              ...       ...       ...       ...
2016-11-18  0.015967 -0.017173 -0.018374  0.009368
2016-11-21  0.070461  0.007478 -0.011051  0.008164
2016-11-22  0.022216 -0.016176  0.040822  0.003358
2016-11-23 -0.005035  0.027005  0.011929 -0.009260
2016-11-24 -0.017181 -0.016576 -0.012261 -0.010488
2016-11-25 -0.018135 -0.006941 -0.003005 -0.006861
2016-11-28  0.010403  0.018402  0.006664  0.021005
2016-11-29 -0.053133 -0.028317 -0.012367 -0.024453
2016-11-30  0.087466  0.005262 -0.000335  0.019383
2016-12-01 -0.035627 -0.030790 -0.027982 -0.046180
2016-12-02  0.024945  0.004799 -0.010435  0.004136
2016-12-05 -0.010797 -0.015074 -0.004904 -0.003542
2016-12-06  0.030810  0.017465 -0.004226  0.013218
2016-12-07 -0.018120 -0.006589  0.031263 -0.007910
2016-12-08 -0.010139 -0.010876 -0.026688 -0.005902
2016-12-09 -0.007673  0.010876 -0.017720  0.002956
2016-12-12  0.001283 -0.032369 -0.037149 -0.042173
2016-12-13 -0.009662  0.011111 -0.010443  0.004604
2016-12-14 -0.047044 -0.008012 -0.024288 -0.002148
2016-12-15  0.007435  0.009852 -0.060988 -0.004000
2016-12-16 -0.006079  0.021819  0.078504 -0.018032
2016-12-19 -0.027474 -0.023045 -0.022526 -0.027359
2016-12-20 -0.000697  0.006116  0.048607  0.025158
2016-12-21 -0.000697 -0.003665  0.032923 -0.000316
2016-12-22 -0.023281 -0.018786  0.003551  0.008148
2016-12-23  0.016284  0.011314 -0.008903  0.035329
2016-12-26  0.012561  0.011187  0.001784  0.007974
2016-12-27 -0.000694 -0.004336 -0.021662 -0.000609
2016-12-28  0.025352  0.007421  0.005825  0.023266
2016-12-29  0.006071  0.010420  0.011903  0.010992

[1226 rows x 4 columns]

In [47]:
sec_ret.tail()

            PETR4.SA  ABEV3.SA  CIEL3.SA  ITUB4.SA
Date
2016-12-23  0.016284  0.011314 -0.008903  0.035329
2016-12-26  0.012561  0.011187  0.001784  0.007974
2016-12-27 -0.000694 -0.004336 -0.021662 -0.000609
2016-12-28  0.025352  0.007421  0.005825  0.023266
2016-12-29  0.006071  0.010420  0.011903  0.010992

## Matriz de covariância

In [48]:
# Vamos assumir 250 dias ao ano engociados.
covariance=sec_ret.cov()*250
covariance

          PETR4.SA  ABEV3.SA  CIEL3.SA  ITUB4.SA
PETR4.SA  0.258327  0.035671  0.047923  0.094803
ABEV3.SA  0.035671  0.056982  0.020953  0.029629
CIEL3.SA  0.047923  0.020953  0.089176  0.035104
ITUB4.SA  0.094803  0.029629  0.035104  0.101497

In [49]:
marketcov=covariance.iloc[0,1]
marketcov

0.03567084329641455

In [51]:
market_var=sec_ret['ITUB4.SA'].var()*250
market_var

0.1014966114698867

In [52]:
market_beta=marketcov/market_var
market_beta

0.35144861271548783

In [9]:
# Expected Return
Exp_ret= 0.025+market_beta*0.05
Exp_ret

0.055797882934685655

In [54]:
# Calculation os Sharpe ratio
sharpe=(Exp_ret-0.025)/(sec_ret['ITUB4.SA'].std()*250**0.5)
sharpe

0.09667075094022505